/* all pages */

img {
    height: auto;
    width: 530px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
}

/* index page */

.title {
    color: darkcyan;
    font-size: 120px;
    font-family: "Brush Script MT";
    text-align: center;
}

.spice, .rice, .straw {
    font-size: 38px;
    font-family: Georgia;
    text-align: center;
}

.spice {
    color: saddlebrown;
}

.rice {
    color: papayawhip;
}

.straw {
    color: hotpink;
}

.ul {
    text-align: center;
}

.ul > ul {
    display: inline-block;
}

/* spicy noddle page */

.spice-header {
    color: saddlebrown;
    font-size: 5rem;
    font-family: "Brush Script MT";
    text-align: center;
}

/* rice krispie page */

.rice-header {
    color: papayawhip;
    font-size: 5rem;
    font-family: "Brush Script MT";
    text-align: center;
}

/* strawberry jello page */

.straw-header {
    color: hotpink;
    font-size: 5rem;
    font-family: "Brush Script MT";
    text-align: center;
}